global-exclude *.pyc
include *.rst todo.txt tox.ini
include keg_auth_ta-config-example.py
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-exclude docs/build *.txt
recursive-include docs Makefile
recursive-include keg_auth/i18n *
recursive-include keg_auth *.j2
recursive-include keg_auth *.html
recursive-include keg_auth *.json
recursive-include keg_auth_ta *.j2
recursive-include keg_auth_ta *.html
include .circleci/config.yml
include .circleci/pytest.ini
exclude keg_auth_ta-config.py coverage.xml .coverage
exclude pyp.ini
exclude stable-requirements.txt
include docker-compose.yml
