appdirs==1.4.4
arrow==1.3.0
Authlib==1.3.1
bcrypt==4.1.3
beautifulsoup4==4.12.3
BlazeUtils==0.7.0
blinker==1.8.2
cachetools==5.3.3
certifi==2024.6.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coverage==7.5.4
cryptography==42.0.8
cssselect==1.2.0
decorator==5.1.1
distlib==0.3.8
dnspython==2.6.1
docutils==0.21.2
dominate==2.9.1
email_validator==2.2.0
filelock==3.15.4
flake8==7.1.0
Flask==3.0.3
Flask-Bootstrap==3.3.7.1
Flask-JWT-Extended==4.6.0
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-SQLAlchemy==3.1.1
Flask-WebTest==0.1.4
Flask-WTF==1.2.1
freezegun==1.5.1
greenlet==3.0.3
idna==3.7
infinity==1.5
inflect==7.3.0
iniconfig==2.0.0
intervals==0.9.2
itsdangerous==2.2.0
Jinja2==3.1.4
Keg==0.11.0
KegElements==0.11.0
lxml==5.2.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mccabe==0.7.0
mdurl==0.1.2
mock==5.1.0
more-itertools==10.3.0
nh3==0.2.17
packaging==24.1
passlib==1.7.4
platformdirs==4.2.2
pluggy==1.5.0
psycopg2-binary==2.9.9
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycodestyle==2.12.0
pycparser==2.22
pyflakes==3.2.0
Pygments==2.18.0
PyJWT==2.8.0
pyproject-api==1.7.1
pyquery==2.0.0
pytest==8.2.2
pytest-cov==5.0.0
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
python-ldap==3.4.3
pytz==2024.1
readme_renderer==43.0
requests==2.32.3
sentry-sdk==2.7.1
shortuuid==1.0.13
six==1.16.0
soupsieve==2.5
SQLAlchemy==2.0.31
SQLAlchemy-Utils==0.41.2
tox==4.15.1
typeguard==4.3.0
types-python-dateutil==2.9.0.20240316
typing_extensions==4.12.2
urllib3==2.2.2
validators==0.20.0
virtualenv==20.26.3
visitor==0.1.3
waitress==3.0.0
WebGrid==0.5.9
WebOb==1.8.7
WebTest==3.0.0
Werkzeug==3.0.3
wrapt==1.16.0
WTForms==3.1.2
WTForms-Alchemy==0.18.0
WTForms-Components==0.10.5
XlsxWriter==3.2.0
