{% extends 'keg-auth/multi-part-mail.j2' %}
{%- if _ is not defined -%}
    {% from 'keg-auth/i18n.j2' import gettext as _ %}
{%- endif -%}

{% block subject %}
    {{ _('Password Reset Link') }}
{% endblock %}

{% block markdown %}

 {{ _('Somebody asked to reset your password on %(site_name)s') | format(site_name=config.KEGAUTH_EMAIL_SITE_NAME) }}.

{{ _('If it **was not you**, you can safely ignore this email.') }}

{{ _('If it **was you**, use the following link to choose a new password:') }}

<{{ auth_manager.url_for('reset-password', user_id=user.id, token=user._token_plain, _external=True) }}>

{% endblock %}
